a {
  text-decoration: none;
  color: rgb(248, 217, 159);
}
a:hover {
  text-decoration: underline;
  color: rgb(241, 234, 220);
}
a:visited {
  color: rgb(253, 214, 96);
}
a:active {
  color: rgb(253, 214, 96);
}
.useContainer {
  padding: 5px 10px;
}
p {
  padding: 5px 10px;
  color: rgb(230, 230, 230);
}
select {
  appearance: none;
  padding: 8px 10px;
  width: 40%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1.1rem;
}
option {
  appearance: none;
  border: none;
  background: rgb(248, 217, 159);
  padding: 8px 10px;
  font-size: 1.1rem;
  color: black;
}

input {
  padding: 5px 10px;
  margin: 5px 0px;
  width: 80%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.blueMetalic {
  border-radius: 10px 5px;
  background-color: rgb(4, 11, 129);
  border: 2px solid rgba(255, 255, 255, 0.543);
  padding: 4px 8px;
}

.redMetalic {
  border-radius: 10px 5px;
  background-color: rgb(181, 26, 5);
  border: 2px solid rgba(255, 255, 255, 0.543);
  padding: 4px 8px;
}
.yellowMetalic {
  border-radius: 10px 5px;
  background-color: rgb(235, 220, 9);
  color: rgba(0, 0, 0, 0.919);
  border: 2px solid rgba(255, 255, 255, 0.543);
  padding: 4px 8px;
}
.purpleMetalic {
  border-radius: 10px 5px;
  background-color: rgb(148, 9, 235);
  color: rgba(244, 238, 238, 0.919);
  padding: 4px 8px;
  border: 2px solid rgba(255, 255, 255, 0.543);
}
.navContainer {
  padding: 8px 15px;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  margin: 8px 0px;
}

h1::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

h2::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

h3::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

h4::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

strong::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}
p::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

label::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}
label {
  margin: 5px 0px;
}
input {
  padding: 5px 10px;
  margin: 5px 0px;
  width: 80%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}
button {
  padding: 6px 10px;
  background: transparent;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  width: 120px;
}

a::selection {
  color: black;
  background-color: rgb(252, 231, 70);
}

.formContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.buttoner {
  display: flex;
  column-gap: 10px;
  margin: 15px 15px;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 25px 25px;
  font-size: 14px;
  text-align: left;
}
th, td {
  padding: 12px;
  border: 1px solid #ddd;
}
th {
  background-color: rgba(247, 246, 244, 0.986);
  color: grey;
}
tr:hover {
  background-color: #f5f5f57f;
}